@import 'base/variables';
.benefits {
    min-height: 471px;
    padding: 70px 0 83px 0;
    background: url('../img/bg2.jpg') center (center/cover) no-repeat;
    &__icons {
        display: flex;
        margin: 0 auto;
        margin-top: 69px;
        width: 940px;
        justify-content: space-between;
        
    }
    &__icon {
        width: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        color: rgb(13, 13, 13);
        line-height: 1.2;
        text-align: center;
        font-weight: 300;
        span {
                font-size: 18px;
                color: rgb(13, 13, 13);
                text-align: center;
                font-weight: 700;
                margin-top: 45px;
                margin-bottom: 30px;
        }
        a {
            color: #ff0000;
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
}