@media (max-width: 991px) {
    .container {
        max-width: 700px;
    }
    .benefits {
        &__icons {
            justify-content: flex-start;
            width: 100%;
        }
        &__icon {
            font-size: 13px;
        }
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .header__official {
        display: none;
    }
    .benefits__icons {
        flex-direction: column;
        align-items: center;
    }
    .benefits__icon {
        margin-bottom: 20px;
        font-size: 16px;
        &:nth-child(3) {
            margin-bottom: 0;
        }
        span {
            font-size: 21px;
        }
    }
    .tittle__left{
        font-size: 30px;
    }
    .catalog {
        &__content {
            justify-content: center;
            &_active {
                justify-content: center;
            }
         }
         &__tab {
             
             font-size: 16px;
          }
    }
    .review {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__img {
            margin-right: 0;
        }
        &__name {
            margin-top: 30px;
        }
    }
    
}
@media (max-width: 575px) {
    .header {
        padding: 0 5px;
        &__phone {
            display: none;
        }
        &__logo img {
            width: 80%;
        }
    }
   
    .button {
        width: 141px;
        &_main {
            width: 240px;
        }
        &_submit {
            width: 100%;
            margin-top: 50px;
        }
    }
    .promo {
        &__icons {
            width: 100%;
            justify-content: space-around;
        }
        &__header {
            font-size: 32px;
        }
        &__subheader {
            font-size: 21px;
        }
    }
    .consultation {
        padding: 50px 10px 50px 10px;
        &__descr {
            margin-top: 41px;
            font-size: 19px;
        }
    }
    .tittle__left {
        font-size: 19px;
    }
    .catalog {
         &__tab {
             font-size: 14px;
             margin-bottom: 3px;
          }
          &__tabs {
            flex-direction: column;
            
         }
    }
    .footer {
        &__social-item {
            margin: 0 6px;
        }
        &__info
        {
            width: 320px;
        }
        &__addr {
            font-size: 17px;
        }
    }
      
}
@media (max-width: 374px) {
    .feed-form {
        width: 230px;
    }
    .footer {
        &__social-item {
            margin: 0 6px;
        }
        &__info
        {
            width: 320px;
        }
        &__addr {
            font-size: 17px;
        }
    }
}